<div class="container mt-5">
    <div class="jumbotron">
        <h1 class="display-4">Welcome to the App!</h1>
        <p class="lead">This is a just a simple dashboard view for application.</p>
        <hr class="my-4">
        <p>Use the navigation bar to access different sections of the application.</p>
    </div>
</div>
